body {
  font-family: "Calling Code", sans-serif;
  font-style: normal;
  background-color: #000000;
  color: #e0e0e0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

h1 {
  font-family: "Chomsky", sans-serif;
  text-align: center;
  font-size: 64px;
  color: #f4dc68;
  margin-bottom: 0rem;
}

h2 {
  margin: 0 0 0 0;
  color: #000000;
  background-color: #f4dc68;
  font-family: "Chomsky", sans-serif;
  text-align: center;
}

h3 {
  margin: 0 0 0 0;
  color: #000000;
  background-color: #f4dc68;
  font-family: "Calling Code", sans-serif;
  text-align: center;
}

.invisible {
  display: none;
}

.pointable {
  cursor: pointer;
}

.button {
  font-family: "Calling Code", sans-serif;
  cursor: pointer;
  background-color: #e0e0e0;
  color: #000000;
  margin: 4px;
}

#controls {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 24px;
}

#controls .checkbox {
  cursor: pointer;
  accent-color: #f4dc68;
}

#controls .button {
  margin-top: 16px;
}

.button:hover {
  background-color: #f4dc68;
}

#questDisplay {
  border-left: 1px solid #e0e0e0;
  border-right: 1px solid #e0e0e0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  margin: 0 5% 0 5%;
}

#questDisplay .card {
  border-left: 1px solid #e0e0e0;
  border-right: 1px solid #e0e0e0;
  padding: 16px;
  display: grid;
  grid-row: span 5;
  grid-template-rows: subgrid;
}

#questDisplay p {
  font-style: normal;
}

#questDisplay .card-controls {
  display: flex;
  justify-content: center;
}

@media only screen and (max-width: 950px) {
  #questDisplay {
    border-left: none;
    border-right: none;
    display: block;
    max-width: 56rem;
  }

  #questDisplay .card {
    border-left: none;
    border-right: none;
    border-top: 2px solid #e0e0e0;
  }
}

#header-links {
  text-align: center;
  max-width: 56rem;
  margin: 0 auto 2rem auto;
  border-top: 1px solid #e0e0e0;
  border-bottom: 1px solid #e0e0e0;
}

#footer {
  color: #e0e0e0;
  width: 100%;
  text-align: center;
  margin-top: auto;
}

#footer-links {
  max-width: 56rem;
  margin: 1rem auto 0.5rem auto;
  border-top: 1px solid #e0e0e0;
}

a {
  color: #e0e0e0;
  text-decoration: none;
  font-family: "Calling Code", sans-serif;
  font-size: 16px;
}

a:hover {
  color: #f4dc68;
}

.text-link {
  color: #f4dc68;
}

.text-link:hover {
  color: #e0e0e0;
}

#card-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

@media only screen and (max-width: 500px) {
  #card-grid {
    display: grid;
    grid-template-columns: 1fr;
  }
}

.card-image {
  width: 60%;
  max-width: 180px;
  height: auto;
  border-radius: 8px;
  border: 1px solid #e0e0e0;
  display: block;
  margin: 16px auto 16px auto;
}

.card-image.reversed {
  transform: rotate(180deg);
}

.card-meaning-group li {
  margin-bottom: 16px;
}
